body{
    text-align: center;
}
main, header {
    max-width: 960px;
    margin: auto;
    text-align: left;
}

header{
    height: 96px;
    background-color: rgba(72, 68, 83, 1);
    color: rgba(245, 0, 96, 1);
    font-family: Bahnschrift;
    text-align: center;
    
}

header h1{
    line-height: 96px;
}

header mark{
    display: inline-block;
    background-color: rgba(245, 0, 96, 1);
    color: white;
    width: 96px;
    text-align: center;
}

.info{
    display: inline-block;
    width: 307px;
    background-color: rgba(245, 0, 96, 1);
    text-align: center;
}

.info2{
    display: inline-block;
    background-color: rgba(222, 222, 222, 1);
    width: 144px;
    font-family: Montserrat SemiBold;
    padding-top: 16px;
    padding-bottom: 16px;
}

.info3{
    display: inline-block;
    font-family: Montserrat;
    width: 360px;
    vertical-align: top;
    padding-left: 16px;
}

.catalog-title {
    color: rgba(245, 0, 96, 1);
}

.catalog-datetime mark{
    background: none;
    font-size: xx-large;
}

.link{
    color: rgba(245, 0, 96, 1);
    text-decoration: none;
}

.img{
    display: inline-block;
    
}